attrs==25.4.0
beautifulsoup4==4.14.3
behave==1.2.6
bs4==0.0.2
certifi==2026.2.25
charset-normalizer==3.4.6
colorama==0.4.6
cssselect==1.4.0
exceptiongroup==1.3.1
execnet==2.1.2
fasteners==0.20
filelock==3.25.2
h11==0.16.0
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mycdp==1.3.6
nest-asyncio==1.6.0
numpy==2.2.6
outcome==1.3.0.post0
packaging==26.0
pandas==2.3.3
parameterized==0.9.0
parse==1.21.1
parse_type==0.6.6
pdbp==1.8.2
platformdirs==4.9.4
pluggy==1.6.0
Pygments==2.19.2
pynose==1.5.5
pyotp==2.9.0
PySocks==1.7.1
pytest==8.4.2
pytest-html==4.0.2
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==16.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
requests==2.32.5
rich==14.3.3
sbvirtualdisplay==1.4.0
selenium==4.41.0
seleniumbase==4.47.3
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
tabcompleter==1.4.0
tomli==2.4.0
trio==0.33.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
websocket-client==1.9.0
websockets==16.0
wsproto==1.3.2

